.post-container{
  background-color: rosybrown;
  margin: 0 auto 0 auto;
  width: 70%;
  font-family:'Sans';
  text-align: justify;
  padding: 20px;
}
.post{
  
}
.date{
  color: #008080;
  font-family: 'Roboto';
}
h1{
  font-family: 'Montserrat';
}



/*

Fontes utilizadas:

1. Elemento H1 = Montserrat

2. Elementos com a classe date = Roboto

3. Elementos com a classe post-content = Open Sans



Cores:

1. Background dos posts = #fffafa

2. Cor da data = #008080​