p {
  font-family: "Geostar", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: justify;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
